.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.mater{
    flex: 1 1 auto;
}
.kont {
    max-width: 1180px;
    margin: 0 auto;
}
.block_row1{
    background-color: #445162;
    padding: 50px;
}
.block_row2{
    background-color: #ffffff;
    padding: 50px;
}
.block_row3{
    background-color: #f5f5f5;
    padding: 50px 0 20px 0;
}
.block_row4{
    max-width: 990px;
    margin: 0 auto;
    padding: 50px 0;
}
.block_colum{
    display: flex;
    justify-content: space-between;
}
.hi{
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}
.list li{
	font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
    background: url('check_icon_349.png') left no-repeat;
    padding: 0 0 0 37px;
}
.b21{
    display: flex;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}
.b22{
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 30px;
}
.zaglav{
    font-family: Arial;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
}
.kols {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.kol {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0 8px;
}
.item_block {
    display: flex;
}
.item_img{
    width: 200px;
    height: 150px;
    background-color: #445161;
    flex: 0 0 200px;
}
.item_titleText {
    flex: 1 1 auto;
    padding-left: 15px;
}
.item_zaglavka{
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161; 
    margin-bottom: 13px;
}
.item_text {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.b4_flex {
    display: flex;
    margin: 0 -22px;
}
.b4_kol {
    flex: 0 1 33.333%;
    padding: 0 22px;
    display: flex;
}
.b4_item {
    background-color: #445162;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #445162;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.t1 {
    font-family: Arial;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 0;
}
.t2 {
    font-family: Arial;
    text-align: center;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 17px 0;
}
.t3 {
    font-family: Arial;
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    flex: 1 1 auto;
}
.t3_p {
    margin-bottom: 25px;
}
.b4_button {
    font-family: Arial;
    display: block;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    padding: 9px 0;
}
.down_space{
    background-color: #f5f5f5;
}
.pripiska{
    font-family: Arial;
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}

